.socialNets img {
  width: 15%;
  height: 15%;
  transition: ease all 0.5s;
}

.whoAmI {
  font-size: x-large;
  transition: ease all 0.5s;
}

.sumInfo ul {
  list-style-type: circle;
  font-size: larger;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.5s;
}

#brain {
  right: 70%;
  top: 60px;
  transition: ease all 0.5s;
}

#bag {
  left: 6%;
  bottom: 50px;
  transition: ease all 0.5s;
}

#medicine {
  right: 20%;
  top: 170px;
  transition: ease all 0.5s;
}

.seal > img {
  left: 25%;
}

.hrDiv{
  transition: ease all 0.5s;
  height: 3px;
  width: 260px;
  top: 230px;
  left: 10%;
}
