#brain {
  right: 72%;
  top: 60px;
  transition: ease all 0.5s;
}

#bag {
  left: 7%;
  bottom: 50px;
  transition: ease all 0.5s;
}

#medicine {
  right: 15%;
  top: 195px;
  transition: ease all 0.5s;
}

.seal > img {
  left: 25%;
}