.mainLogo {
  flex: 1;
  transition: ease all 0.5s;
}

.mainLogo img {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  transition: ease all 0.5s;
}

.selfInfo ul {
  font-size: x-small;
  transition: ease all 0.5s;
}

.socialNets img {
  width: 20%;
  height: 20%;
  transition: ease all 0.5s;
}

.whoAmI {
  font-size: small;
  transition: ease all 0.5s;
}

.sumInfo ul {
  list-style-type: circle;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.5s;
}

#brain {
  right: 87%;
  top: 30px;
  box-shadow: 3px 3px 7px #1285b5;
  transition: ease all 0.5s;
}

#bag {
  left: 2%;
  bottom: 20px;
  box-shadow: 3px 3px 7px #1285b5;
  transition: ease all 0.5s;
}

#medicine {
  right: 30%;
  top: 115px;
  box-shadow: -3px 3px 7px #1285b5;
  transition: ease all 0.5s;
}
