.whoAmI {
  font-size: larger;
  transition: ease all 0.5s;
}

#brain {
    right: 75%;
    top: 60px;
    transition: ease all 0.5s;
  }
  
  #bag {
    left: 5%;
    bottom: 20px;
    transition: ease all 0.5s;
  }
  
  #medicine {
    right: 25%;
    top: 170px;
    transition: ease all 0.5s;
  }

  .seal > img {
    left: 20%;
  }

  .hrDiv{
    transition: ease all 0.5s;
    height: 3px;
    width: 210px;
    top: 225px;
    left: 11%;
  }