@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaf9ff;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transition: ease all 1s;
  z-index: 2;
}

.sticky {
  background-color: #caf0ff;
  box-shadow: 0 10px 8px -6px #1285b5;
  transition: ease all 1s;
}

.mainLogo {
  flex: 2;
  transition: ease all 0.5s;
}

.mainLogo img {
  width: 25%;
  height: 25%;
  margin-left: 10%;
  transition: ease all 0.5s;
}

.selfInfo,
.socialNets {
  flex: 1;
}

.selfInfo {
  display: flex;
  justify-content: flex-end;
}

.selfInfo ul {
  list-style-type: none;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.5s;
}

.socialNets {
  display: flex;
  justify-content: flex-end;
}

.socialNets #whatsapp {
  margin-right: 20px;
}

.socialNets #instagram {
  margin-right: 20%;
}

.socialNets img {
  width: 13%;
  height: 13%;
  border-radius: 50%;
  transition: ease all 0.5s;
}

.firstMain {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.whoAmI {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  flex: 1;
  padding-bottom: 10%;
  transition: ease all 0.5s;
}

.whoAmI span {
  font-weight: bold;
  text-decoration: underline #1285b5;
  text-underline-offset: 10px;
}

.doctor {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.doctor img {
  max-width: 80%;
  max-height: 80%;
}

.anon {
  margin-top: 50px;
  width: auto;
  text-align: center;
  font-size: xx-large;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.5s;
}

.anon span {
  padding: 20px 20px 20px 20px;
  background-color: #caf0ff;
  border-radius: 20px;
}

.sumInfo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 50px;
}

.sumInfo ul {
  list-style-type: circle;
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
  transition: ease all 0.5s;
}

#brain {
  position: relative;
  border-radius: 25%;
  width: 4%;
  height: 4%;
  right: 68%;
  top: 60px;
  transform: rotate(-20deg);
  box-shadow: 5px 5px 7px #1285b5;
  transition: ease all 0.5s;
  z-index: 1;
}

#bag {
  position: relative;
  border-radius: 25%;
  width: 4%;
  height: 4%;
  left: 10%;
  bottom: 50px;
  transform: rotate(30deg);
  box-shadow: 5px 5px 7px #1285b5;
  transition: ease all 0.5s;
  z-index: 1;
}

#medicine {
  position: relative;
  border-radius: 25%;
  width: 4%;
  height: 4%;
  right: 15%;
  top: 220px;
  transform: rotate(-15deg);
  box-shadow: -5px 5px 7px #1285b5;
  transition: ease all 0.5s;
  z-index: 1;
}

.seal > img {
  width: 15%;
  height: 15%;
}

.seal {
  text-align: center;
}

.footer {
  width: 100%;
  height: 57px;
  margin-top: 60px;
  background-color: #caf0ff;
  box-shadow: 0 -10px 8px -6px #1285b5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
